*{
  margin: 0;
  padding: 0;
}

body {
  font-family: arial;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: grid;
  grid-template-columns: 150px auto 150px;
  grid-template-rows: 100px 90vh;
}

.article {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: #119310;
  display: grid;
  grid-template-columns: 20% 20% 20% 40%;
  grid-template-rows: 80px auto;
}

.navLeft {
  grid-column: 1/2;
  grid-row: 1/3;
  background-color: #E8F8FF;
}

.navRight {
  grid-column: 3/4;
  grid-row: 1/3;
  background-color: #E8F8FF;
}

.header {
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: #3399CC;
}

.btnGeneral {
  background-color: #15bf13;
  height: 70px;
  border: thin solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

a:hover {
  background-color: #1cd11b;
}

#btnForum {
  grid-column: 1/2;
  grid-row: 1/2;
}

#btnLogin {
  grid-column: 2/3;
  grid-row: 1/2;
}

#btnLogout {
  grid-column: 3/4;
  grid-row: 1/2;
}

#logInField {
  grid-column: 4/5;
  grid-row: 1/2;
}

#logoutButton {
  background: none;
  border: none;
  cursor: pointer;
  height: 70px;
  width: 215px;
}

#registerForm {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 3fr;
  grid-template-rows: auto auto auto auto auto;
  margin: 50px;
}
.registerContent {
  margin-top: 10px;
}

#usernameTxt {
  grid-column: 2/3;
  grid-row: 1/2;
}

#usernameInp {
  grid-column: 3/4;
  grid-row: 1/2;
}

#passwordTxt {
  grid-column: 2/3;
  grid-row: 2/3;
}

#passwordInp {
  grid-column: 3/4;
  grid-row: 2/3;
}

#emailTxt {
  grid-column: 2/3;
  grid-row: 3/4;
}

#emailInp {
  grid-column: 3/4;
  grid-row: 3/4;
}

#registerBtn {
  grid-column: 2/4;
  grid-row: 4/5;
}

.content {
  grid-column: 1/5;
  grid-row: 2/3;
  background-color: #af734b;
}
