<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" media="screen" href="../css/index.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    <title>SimpleForum</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>SimpleForum</h1>
      </div>
      <div class="article">
        <a href="index.php">
          <div class="btnGeneral" id="btnForum">
            <h2 class="btnTxt">Forum</h2>
          </div>
        </a>
        {% if loggedIn == "true" %}
          <a href="profile.php">
            <div class="btnGeneral">
              <h2 class="btnTxt">Profile</h2>
            </div>
          </a>
          <div class="btnGeneral">
            <form class="logOutForm" method="POST" action="index.php">
              <input type="hidden" name="logOutForm" value="1">
              <input type="submit" value="Log out" id="logoutButton">
            </form>
          </div>
        {% else %}
          <a href="logIn.php">
            <div class="btnGeneral" id="btnLogin">
              <h2 class="btnTxt">Log in</h2>
            </div>
          </a>
          <a href="register.php">
            <div class="btnGeneral" id="btnLogout">
              <h2 class="btnTxt">Sign up</h2>
            </div>
          </a>
        {% endif %}
        <div class="btnGeneral" id="logInField">
        </div>
        <div class="content">
          <h1>Categories</h1>
          <div id="accordion">
          {% if categories %}
            {% for category in categories %}
                <h3>{{ category.categoryName }}</h3>
                {% if topics %}
                  {% for topic in topics %}
                    {% if topic.categoryId == category.categoryId %}
                      
                      <div><p>{{ topic.topicName }}</p></div>
                      
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endfor %}
          {% endif %}
          </div>
        </div>
      </div>
      <div class="navLeft">
      </div>
      <div class="navRight">
      </div>
    </div>

    <script>
      
      $( function() {
        $( "#accordion" ).accordion({
          collapsible: true
        });
        $( ".selector" ).accordion({
          active: false
        });
      } );

      var Topics = document.getElementsByClassName("Topics"), i;
      //Topics.style. = "none";

      /*for (var i = 0; i < Topics.length; i ++) {
        Topics[i].style.visibility = 'hidden';
      }


      function ShowTopics(id) {
        for (i = 0; i <= Topics.length; i++) {
            if (Topics[i].style.visibility == 'hidden') {
              Topics[i].style.visibility = 'visible';
            } else {
              Topics[i].style.visibility = 'hidden';

          }
        }
      }*/
    </script>

  </body>
</html>
