<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" media="screen" href="../css/index.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    <title>SimpleForum</title>
  </head>
  <body>
    <div class="container">
      <div id="header">
        <img src="../logo/logo_png.png" height="90" id="logo">
        <h1 id="forumName">DownToEarth Forum</h1>
      </div>
      <div class="article">
        <a href="index.php">
          <div class="btnGeneral" id="btnForum">
            <h2 class="btnTxt">Forum</h2>
          </div>
        </a>
        {% if loggedIn == "true" %}
          <a href="profile.php">
            <div class="btnGeneral">
              
            </div>
          </a>
          <div class="btnGeneral">
            <form class="logOutForm" method="POST" action="index.php">
              <input type="hidden" name="logOutForm" value="1">
              <input type="submit" value="Log out" id="logoutButton">
            </form>
          </div>
          <div class="btnGeneral" id="logInField">

          </div>
        {% else %}
          <div class="btnGeneral" id="btnLogin">

          </div>
          <a href="register.php">
            <div class="btnGeneral" id="btnLogout">
              <h2 class="btnTxt">Sign up</h2>
            </div>
          </a>
          <div class="btnGeneral" id="logInField">
            <form id="loginForm" method="POST" action="logIn.php">
              <input type="hidden" name="loginForm" value="0">
              <input type="text" name="username" placeholder="Username" required>
              <input type="password" name="password" placeholder="Password" required>
              <input type="submit" value="Log in">
            </form>
          </div>
        {% endif %}
        <div class="content"><br>
          <div class="form-popup" id="myForm">
                  <form action="newTopic.php" method="POST" class="form-container">
                    <h1>New Topic in {{ category.categoryName }}</h1>

                    <label for="name"><b>Topic Name</b></label>
                    <input type="text" placeholder="Enter name" name="name" required>

                    <label for="content"><b>Content</b></label>
                    <input type="text" placeholder="Whats on your mind?" name="content" required>
                    
                    <input type="hidden" name="category" value="">

                    <button type="submit" class="btn">Create topic</button>
                    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                  </form>
                </div><br>
          <div id=ac>
          <div id="accordion">
          {% if categories %}
            {% for category in categories %}
                <h3>{{ category.categoryName }} </h3>
                {% if topics %}<div>
                <h4>Topics:                         <button class="open-button" onclick="openForm()">New Topic</button></h4><br>
                  {% for topic in topics %}
                    {% if topic.categoryId == category.categoryId %}

                      <p><a href="topic.php?id={{ topic.topicId }}">{{ topic.topicName }}</a></p>

                  {% endif %}
                {% endfor %}
              {% endif %}</div>
            {% endfor %}
          {% endif %}
          </div>
        </div>
      </div>
      </div>
      <div class="navLeft">
      </div>
      <div class="navRight">
      </div>
    </div>

    <script>

      $( function() {
        $( "#accordion" ).accordion({
          collapsible: true,
          active: false,
          heightStyle: "content",
          activate: function( event, ui ) {
            var name =  ui.newHeader[0].childNodes[1].innerHTML;
            console.log(name);
          }
        });
        
      } );

      

      function openForm() {
        document.getElementById("myForm").style.display = "block";
      }

      function closeForm() {
        document.getElementById("myForm").style.display = "none";
      }

    
    


      var active = ($( ".acc" ).accordion( "option", "active" ));


      document.getElementById("category").value = active;

      //var Topics = document.getElementsByClassName("Topics"), i;
      //Topics.style. = "none";

      /*for (var i = 0; i < Topics.length; i ++) {
        Topics[i].style.visibility = 'hidden';
      }


      function ShowTopics(id) {
        for (i = 0; i <= Topics.length; i++) {
            if (Topics[i].style.visibility == 'hidden') {
              Topics[i].style.visibility = 'visible';
            } else {
              Topics[i].style.visibility = 'hidden';

          }
        }
      }*/
    </script>

  </body>
</html>
