<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" media="screen" href="../css/index.css">

    <title>Mainpage</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>Forum name</h1>
      </div>
      <div class="article">
        <a href="index.php">
          <div class="btnGeneral" id="btnForum">
            <h2 class="btnTxt">Forum</h2>
          </div>
        </a>
        {% if loggedIn == "true" %}
          <div class="logIn">
            <a href="profile.php">Profile</a>
          </div>
          <div class="logOut">
            <form class="logOutForm" method="POST" action="index.php">
              <input type="hidden" name="logOutForm" value="1">
              <input type="submit" value="Log out">
            </form>
          </div>
        {% else %}
        <div class="btnGeneral" id="btnLogin">

        </div>
        <a href="register.php">
          <div class="btnGeneral" id="btnLogout">
            <h2 class="btnTxt">Sign up</h2>
          </div>
        </a>
        <div class="btnGeneral" id="logInField">
          <form id="loginForm" method="POST" action="logIn.php">
            <input type="hidden" name="loginForm" value="0">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="submit" value="Log in">
          </form>
        </div>
        {% endif %}
        <div class="content">
          <form id="registerForm" action="register.php" method ="POST">
            <label for="username" class="registerContent" id="usernameTxt">Username</label>
            <input name="username" class="registerContent" id="usernameInp" type="text" placeholder="Username" required>
            <label for="password" class="registerContent" id="passwordTxt">Password</label>
            <input name="password" class="registerContent" id="passwordInp" type="password" placeholder="Password" required>
            <label for="email" class="registerContent" id="emailTxt">Email</label>
            <input name="email" class="registerContent" id="emailInp" type="email" placeholder="example.user@mail.com" required>
            <input name="register" class="registerContent" id="registerBtn" type="submit" value="Register">
          </form>

          <div class="error">
            {% if status %}
              <h3>{{ message }}</h3>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="navLeft">
        <h2>Padding left</h2>
      </div>
      <div class="navRight">
        <h2>Padding right</h2>
      </div>
    </div>
  </body>
</html>
