<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" media="screen" href="../css/index.css">

    <title>{{ topic.topicName }}</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>{{ topic.topicName }}</h1>
      </div>
      <div class="article">
        <div class="title">
          <a href="index.php">Home</a>
        </div>
        {% if loggedIn == "true" %}
          <div class="logIn">
            <a href="profile.php">Profile</a>
          </div>
          <div class="logOut">
            <form class="logOutForm" method="POST" action="index.php">
              <input type="hidden" name="logOutForm" value="1">
              <input type="submit" value="Log out">
            </form>
          </div>
        {% else %}
          <div class="logIn">
            <a href="logIn.php">Log in</a>
          </div>
          <div class="logOut">
            <a href="register.php">Sign up</a>
          </div>
        {% endif %}
        <div class="content">
          <div id="topicDesc">
            <p>{{ topic.description }} <p>
            <p>Posted by {{ topic.username }}</p>
            <p>{{ topic.timestamp }}</p>
          </div>
          <br><br>
          {% for reply in replies %}
            <p><b>{{ reply.username }}</b></p>
            <p>{{ reply.content }}</p>
            <p>{{ reply.timestamp }}</p>
            <br><br>
          {% endfor %}
        </div>
      </div>
      <div class="navLeft">
        <h2>Padding left</h2>
      </div>
      <div class="navRight">
        <h2>Padding right</h2>
      </div>
    </div>
  </body>
</html>
