<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" media="screen" href="../css/index.css">

    <title>{{ topic.topicName }}</title>
  </head>
  <body>
    <div class="container">
      <div id="header">
        <img src="../logo/logo_png.png" height="90" id="logo">
        <h1 id="forumName">DownToEarth Forum - {{ topic.topicName }}</h1>
      </div>
      <div class="article">
        <a href="index.php">
          <div class="btnGeneral" id="btnForum">
            <h2 class="btnTxt">Forum</h2>
          </div>
        </a>
        {% if loggedIn == "true" %}
        <div class="btnGeneral"></div>
        <a><div class="btnGeneral">
          <form class="logOutForm" method="POST" action="topic.php?id={{id}}">
            <input type="hidden" name="logOutForm" value="1">
            <input type="submit" value="Log out" id="logoutButton">
          </form>
        </div></a>
        {% if isAdmin == "true" %}
        <a href="adminPage.php">
          <div class="btnGeneral" id="logInField">
            <h2>Admin page</h2>
          </div>
        </a>
        {% else %}
          <div class="btnGeneral" id="logInField"></div>
        {% endif %}
        {% else %}
          <div class="btnGeneral" id="btnLogin"> </div>

          <a href="register.php">
            <div class="btnGeneral" id="btnLogout">
              <h2 class="btnTxt">Sign up</h2>
            </div>
          </a>
          <div class="btnGeneral" id="logInField">
            <form id="loginForm" method="POST" action="logIn.php">
              <input type="hidden" name="loginForm" value="0">
              <input type="text" name="username" placeholder="Username" required>
              <input type="password" name="password" placeholder="Password" required>
              <input type="submit" value="Log in">
            </form>
          </div>
        {% endif %}
        <div class="content" id="topicLayout">
          <div id="topicDesc">
            <div id="topicInfo">
              <p id="topicAuthor">Posted by: {{ topic.username }}</p>
              <p id="topicDate">{{ topic.timestamp }}</p>
            </div>
            <p id="topicContent">{{ topic.description }} <p>
          </div>
          {% if loggedIn == true %}
          {% endif %}
          {% for reply in replies %}
          <div id="replyDiv">
            <div id="replyInfo">
              <p id="replyAuthor">{{ reply.username }}</p>
              <p id="replyDate">{{ reply.timestamp }}</p>
            </div>
            <p id="replyContent">{{ reply.content }}</p>
          </div>
          {% endfor %}
          {% if loggedIn == true %}
          <form class="inputForm" id="newComment" method="POST" action="newReply.php">
            <input type="hidden" name="topicId" value="{{ topic.topicId }}">
            <textarea id="replyInput" name="content" placeholder="Write a new reply" required></textarea>
            <input id="newReplyButton" type="submit" value="Post" />
          </form>
          {% endif %}
        </div>
      </div>
      <div class="navLeft">

      </div>
      <div class="navRight">

      </div>
    </div>
  </body>
</html>
